{% extends "layout.html" %}
{% block title %}gamesite{% endblock %}
{% block navbar %}

{% endblock %}

{% block content %}
<div id="serverJoinScreen" class="screen">
    <div id="serverJoinList">
        <h2>Server List</h2>
        <div class="joinList">
                <div>
                    <div>Name</div>
                    <div>Address</div>
                    <div>Game</div>
                    <div>Players</div>
                    <div>Password</div>
                </div>
            {%for server in servers%}
                <div class="serverEntry" id="server{{server.id}}" onclick="promptJoin({{server.id}}, 'ws://{{server.address}}:{{server.port}}');">
                    <div>{{server.name}}</div>
                    <div>{{server.address}}:{{server.port}}</div>
                    <div>{{server.game}}</div>
                    <div>{{server.currentPlayers}}/{{server.maxPlayers}}</div>
                    <div>{{server.password}}</div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="joinEntry" hidden>
        <label>Password:</label>
        <input type="text" id="joinPassword"></input>
        <input type="button" id="joinButton" onclick="tryJoin();" value="Join"></input>
    </div>
</div>
<div id="lobbyScreen" class="screen" hidden>

</div>
{% endblock %}

{% block scripts %}
<script src="static/js/main.js" type="module"></script>
{% endblock %}