<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Gamesite">
    <link type="text/css" href="{{url_for('static', filename='css/reset.css')}}" rel="stylesheet"/>
    <link type="text/css" href="{{url_for('static', filename='css/default.css')}}" rel="stylesheet"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="header">
        <div>Home</div>
        {% block navbar %}{% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <script src="static/js/main.js" type="module"></script>
</body>
</html>